body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-content {
  width: 100%;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content button {
  width: 116px;
  height: 90px;
  border-radius: 16px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px solid #d3d1d1;
  background-color: #fff;
}

.form-content button img {
  height: 60px;
}

.user-content {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-content  div {
  width: 30%;
  height: 400px;
  background-color: #d3d1d1;
}

.exit-btn {
  border: none;
  background: transparent;
  font-size: 52px;
  color: #2f2f2f;
  
  position: absolute;
  top: 20px;
  right: 20px;
}
